body, .dados, footer {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}
body{
margin-bottom: 200px;
}
.titulo {
    background-color: #0fb8dd;
    color: #F2FFFC;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    margin: 0px;
    border-bottom: 5px solid #000000;
    text-transform: uppercase;
  }
.texto {
      width: 720px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5;
      padding: 30px 0;
      font-size: 20px;
  }
  p {
      text-align: justify;
      line-height: 20px 0px;
      margin: 20px 0;
  }
  .foto-perfil{
    object-fit: scale-down;
    width: 310px;
    position: absolute;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
    box-sizing: border-box;
  }
  main{
    float: right;
    width: 85%;
    margin-bottom: 200px;
  }
  h2 {
      font-size: 30px;
      clear: both;
      font-family: "Open Sans Condensed" , sans-serif;
      margin: 30px;
  }
.dados{
  background-color: #a8d2db;
  width: 200px;
  height: 280px;
  position: absolute;
  top: 325px;
  left: 30px;
  border: 2px solid black;
  padding: 20px;
  }
.title-list{
font-weight: bolder;
text-decoration: underline;
line-height: 1;
}
.email{
  position: relative;
  top: 30px;
}
.endereco{
  position: relative;
  top: 60px;
}
.nascimento{
  position: relative;
  top: 90px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    background-color: black;
    color: #F2FFFC;

}
