
        <form action="/Categoria/Adiciona" method="post" class="form-control">
            <label for="nome">Nome:</label>
            <input id="nome" name="categoria.Nome" />

            <label for="descricao">Descrição:</label>
            <input id="descricao" name="categoria.Descricao" />

            <input type="submit" value="Cadastrar" />

        </form>
