

body {
  font-family: "Crimson Text", serif;
  background-color: #F2FFFC;
}
main h1 {
  background-color: #851944;
  color: #F2FFFC;
  text-align: center;
}
h1, h2 {
  font-family: "Open Sans Condensed" , sans-serif;
}
p {
  text-align: justify;
}
blockquote {
  background-color: #D9E5E3;
}
aside{
  background-color: #3C1D3D;
  color: #F2FFFC;
}
nav a {
    color: #F2FFFC;
}
main a {
  color: #851944;
}
aside a {
    color: inherit;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
}
